.modalGaleriePhoto {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
  width: 630px;
  height: 688px;
  border-radius: 10px;
  background-color: #ffffff;
}

.fa-solid.fa-xmark.fa-2xl {
  text-decoration: none;
  color: #000000;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: auto;
}

.modal-gallery {
  width: 630px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 29px;
  padding-left: 115px;
  padding-right: 95.5px;
  box-sizing: border-box;
}
.modal-wrapper h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 26px;
  font-family: Work Sans;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 49px;
}

.modal-wrapper img {
  width: 100%;
}
.modal-gallery figure {
  position: relative;
}

.modal-gallery a {
  position: absolute;
  top: 6px;
  right: 4.85px;
  width: 17px;
  height: 17px;
  border-radius: 2px;
  background-color: #000000;
}

.fa-solid.fa-trash-can.fa-2xs {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
}

hr {
  width: 420px;
  margin-top: 67.3px;
}

.btn-modal {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.btn-ajouterPhoto {
  font-size: 14px;
  font-family: "Syne";
  color: #ffffff;
  background-color: #1d6154;
  width: 237px;
  height: 36px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

/* Modal load */

#modal-ajoutPhoto {
  flex-direction: column;
}

.modal-ajout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 169px;
  background-color: rgba(232, 241, 246, 1);
}

.fa-regular.fa-image {
  color: #b9c5cc;
  font-size: 76px;
  margin-top: 13px;
}

.load img {
  width: 129px;
  height: 100%;
  object-fit: cover;
}

.load .btn-upload {
  background-color: #b9c5cc;
  width: 41%;
  height: 36px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #306685;
  font-size: 14px;
  font-family: "Work Sans";
  margin: 6px 0px 0px 0px;
  border: none;
  cursor: pointer;
}

.load p {
  margin-top: 7px;
  margin-bottom: 19px;
}

.load-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.load-form label {
  font-size: 14px;
  font-family: "Work Sans";
}

.load-form input,
select {
  width: 100%;
  height: 51px;
  box-shadow: 0px 4px 14px 0px #0000001a;
  border: none;
  margin-top: 10px;
}

#category {
  cursor: pointer;
}

.form-categorie {
  margin-top: 21px;
}

.btn-modal .btn-valider {
  background-color: #a7a7a7;
  width: 237px;
  height: 36px;
  margin: 0;
  border-radius: 60px;
  border: none;
  font-size: 14px;
  font-family: "Syne";
  color: #ffffff;
  cursor: pointer;
}

#output {
  text-align: center;
  margin-top: 20px;
}

.success {
  color: #ffffff;
  background-color: darkseagreen;
}

.error {
  color: #ffffff;
  background-color: rgb(236, 88, 62);
}
